body{
    background-image: url("./itens/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin: 0;
    padding: 0;

    height: 100vh;
}

header{
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

}
.logo-link {
    margin-left: 2%;
}

.logo {
    height: 12mm;
    width: 12mm;
    transition: 0.3s;
}
.logo:hover{
    opacity: 70%;

}

nav {
    margin-right: 5%;
    width: 15%;
    height: 100%;
}

.nav-ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav-list{
    display: flex;
    width: 100%;
    transition: background-color 0.5s;
}
.nav-list:hover{
    background-color: rgba(250, 250, 250, 0.384);
}

.nav-link{
    width: 100%;
    height: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Francois One', sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

}

.inicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3cm;
    letter-spacing: 4mm;
    font-family: 'Basic', sans-serif;
    line-height: 60px;
    color: white;
    margin: 0px;

}

h2{
    color: white;
    font-family: 'Francois One', sans-serif;
    font-size: 6mm;
    font-weight: 300;
}
h3{
    color: white;
    letter-spacing: 1mm;
    font-size: 8mm;
    font-weight: 200;
    font-family: 'Francois One', sans-serif;
    
}
p{
    color: white;
    font-size: 4mm;
    font-weight: 200;
    font-family: 'Francois One', sans-serif;
}
li{
    color: white;
    font-size: 4mm;
    font-weight: 200;
    font-family: 'Francois One', sans-serif;
    padding: 0;
}

#sobre{
    width: 8cm;
    height: 5cm;
    background-image: url(./itens/barra.jpg);
    margin-left: 10mm;
    margin-right: 25cm;
    margin-bottom: 20mm;
    padding: 2%;

}
#contato{
    width: 8cm;
    height: 6cm;
    background-image: url(./itens/barra.jpg);
    margin-left: 10mm;
    margin-right: 25cm;
    margin-bottom: 0;
    padding: 2%;

}
.celular{
    margin-left: 5cm;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 4cm;
}
